*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    border-collapse: collapse;
    width: 25%;
}

th, td {
    text-align: left;
    padding: 8px;
}

th{
    background-color: green;
    color: white;
}

tr:nth-child(odd){
    background-color: greenyellow;
}